@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
body {
  background-image: url(https://media.tenor.com/cnqQQTnIPSQAAAAC/smile-smirk.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  animation: spin 3s linear infinite;
  animation-delay: 10s;
  font-family: 'Seymour One', sans-serif !important; 
  letter-spacing: 2px;
  cursor:not-allowed !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  font-size: 80px;
  text-align: center;
  color: #a00101;
  text-shadow: 2px 2px rgb(249, 196, 196);
  text-transform: uppercase;
  letter-spacing: 12px;
  background-color: rgb(19, 249, 249);
}

.buttonenter {
  color: aqua;
  background-color: rgb(251, 3, 3);
  justify-content: center;
  margin: 55%;
}

.card {
  position: absolute !important;
  width: 100%;
  height: 90%;
  flex-direction: column-reverse;
  min-width: 12;
  word-wrap: break-word;
  background-color: rgb(119, 41, 255);
  background-clip: border-box;
  border: 1px solid #000000;
  border-radius: 6px;
  z-index: 5;
  top:0;
}

.cookies {
  position: relative;
  z-index: 6;
}

.moreCookies {
  color: red;
  font-size: 50px;
}

.giveAllCookies  {
  background-color: transparent;
  position: absolute !important;
  color: #ffffff;
  bottom: 0;
  right: 80%;
  border-color: #ffffff;
  z-index: 8  ;
  opacity: 0.1 !important;
}

.BadText {
  animation: blinker 2s ease infinite;
  text-align: end;
  color: rgb(74, 255, 195);
  z-index: 4;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.yugeButton {
  padding: 20px 40px;
  background-color: rgb(246, 236, 47);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
.yugeButtonTwo {
  position: absolute;
  right: 0;
  padding: 20px 40px;
  background-color: rgb(115, 255, 115);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

#regist {
  float: inline-start;
  width: 12%;
  padding: 20px;
  display: none;
}

#login {
  float: inline-end;
  width: 12%;
  padding: 20px;
  display: none;
}

.enter-button {
  background-color: rgb(0, 208, 255);
  color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
